.vishal{
    color: red;
    font-size: 30px;
    font-family:Cursive ;
  }
  
body{
    background-color:#e28743 ;/
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/ocean.jpg");
    background-size: cover;
    
  }
  
  .Krishna{
  /*  background-color: red;*/
  }
