body{
    padding: 25px;
  }
  .title {
      color: #5C6AC4;
  }
  
  
  *{
    box-sizing: border-box;
  }
  header{
    background-color: gray;
    text-align: center;
    padding: 5px;
    /text-align: start;/
    /text-align: end;/
  }
  
  .navbar{
    background-color: black;
    height: 50px;
   
  }
  
  aside{
    width: 20%;
    float: left;
     padding: 10px;
    /float: right;/
  }
  section{
    width: 40%;
    float: left;
     padding: 10px;
  }
  
  article{
    width: 40%;
    float: left;
     padding: 10px;
  }
  
  footer{
    background-color: gray;
    padding: 10px;
    text-align: center;
    display: block;
    clear: both;
    
  }
  @media screen and (max-width:600px){
    artice,aside,section{
      width:100px;
    }
  }
  
  